.opWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 90vh;
  width: 100vw;
  border-radius: 8px;
  overflow: scroll;
  overscroll-behavior: none;
}

.opHeader {
  display: flex;
  align-items: center;
}

.opHeaderText {
  font-size: 20px;
  font-weight: bold;
}

.opHeaderSubtext {
  margin-top: 1rem;
}

.clearButton {
  margin-bottom: 20px; 
  background-color: grey; 
  color: white; 
  padding: 10px,
}

.opButton {
  background-image: url('../../assets/straw-hat-pirates.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 100%;
  padding: 80px 80px;
  color: white;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 40px;
  box-shadow: 0 9px #505050;
}

.opButton:active {
  box-shadow: 0 5px #3d3d3d;
  transform: translateY(4px);
}

.opLinkHeader {
  margin-bottom: 1rem;
}

.opLink {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: underline;
}

.button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opQuestion {
  margin-top: 5px;
  width: 90%;
  padding: 1.2rem;
  border-radius: 8px;
}

.opQuestionWrapper {
  margin: 1rem 0 0 0;
  width: 90vw;
  padding: 1rem;
}
.opList {
  margin-top: 1rem;
  border: white 1px solid;
  border-radius: 8px;
  padding: 5px;
  height: 200px;
  overflow: scroll;
}

.opListItem {
  margin: .5rem 0;
}

.opAddButton {
  margin-left: 5px;
  padding: 8px;
}

.opQuestionBtnGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.opClearQuestions {
  margin-bottom: 20px; 
  background-color: grey; 
  color: white; 
  padding: 10px;
}