.decode-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decode-button-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.decode-results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#decodeTextArea {
    width: 70%;
}

.decode-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.decode-info-icon {
    margin-left: 6px;
}

.decode-results {
    color: white;
    margin-bottom: 20px;
}

.results-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#copyDecodedTextButton {
    margin-right: 5px;
}