.bingo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start;
    height: 80%;
    width: 80%; */
    /* border: 4px double white; */
    /* overflow:scroll;
    border-radius: 8px;
    padding: 2rem; */
}

.bingo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bingo-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bingo-item-wrapper {
    padding: 10px 0;
    width: 250px;
    margin: 8px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.bingo-list-wrapper {
    height: 100%;
    width: 100%;
    overflow: scroll,
}

.bingo-button {
    cursor: pointer;
    color: white;
    background-color: #929292;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.bingo-icon {
    cursor: pointer;
    color: white;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}

.bingo-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bingo-info-icon {
    margin-left: 6px;
}

.bingo-item {
    list-style-type:none;
    padding:0px;
    margin:0px;
}