#add-task-name {
  margin-right: 50px;
}

.add-task-top-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.add-task-top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}