.decode-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decode-button-wrapper {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.decode-results-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}