.sideNav {
  background: rgb(114, 114, 114);
  color: white;
  transition: width 0.3s;
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
}

.toggleButton {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  border-color: transparent;
  background-color: rgb(114, 114, 114);
  color: white;
  margin: 6px;
}

.navList {
  list-style: none;
  padding: 0;
}

.link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: #a9a9a9;
}

.activeLink {
  font-weight: bold;
}
