.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  min-width: "5rem";
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.button-text {
  margin-left: 5px;
  font-size: 1.1rem;
}

.primary {
  background-color: #929292;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
  border: 1px solid white;
}