.button {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  min-width: "5rem";
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.primary {
  background-color: #929292;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
  border: 1px solid white;
}